@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');  
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;    
    font-family: 'Lato', sans-serif; 
    background-color: #76c1b6;   
}

.highLight {
  width: 200px;
  height: 15%;
  background-color: #004b92;
  position: absolute;
  
}

.isNone {
  display:none;
}

#employees {

  position :absolute;
  top : 0%;
  left : 40%;

}

#operations {

  position :absolute;
  top : 47%;
  left : 39%;

}

#business {
  position :absolute;
  top : 50%;
  left : 80%;

}

#environment {

  top: 14%;
    left: 75%;

}

#assets {

  top: 3%;
    left: 81%;

}